<br><br>
<div class="container" id="content-to-download">
    <img src="assets/images/test1.png" alt="" style="width: 95%; height: 350px; margin: auto;">
    <br><br>

    <h2 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; "> {{ 'Features' | translate}}</h2>

    <div class="container">
        <div class="row">
            <!-- Div 1 -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center  " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/reel-time.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin: 0px; "> {{'Real-time Monitoring' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/customizable.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin: 0px;"> {{'Customizable Alerts' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/remote.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;"> {{'Remote Access' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/maintenance.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;"> {{'Maintenance Alerts' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style="height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/wireless.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin: 0px;"> {{'Wireless Sensors' | translate}} </h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/3Dmodeling.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;"> {{'3D Modeling' | translate}}</h5>
                    </div>
                </div>
            </div>






        </div>


    </div>
</div>
<button class="btn btn-danger btn-block" style="width: 170px; margin: auto;" (click)="downloadPdf()"><i class="fa fa-download" aria-hidden="true"></i>{{'Download as PDF' | translate}}</button>