<br><br>
<!-- <h2 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; ">  Innovative Construction </h2> -->
<div class="container" id="content-to-download">
    <img src="assets/images/im-construction1.png" alt="" style="width: 95%; height: 350px; margin: auto;">
    <br><br>
    <h2 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; "> Construction </h2>
    <div class="list-container">
        <ul style="margin-left: 42px;">
            <li style="margin-right: 123px;">Quick Analyze</li>
            <li style="margin-right: 88px;">Innovative Design</li>
            <li style="margin-right: 125px;">Express Install</li>
        </ul>
    </div>
    <br>
</div>
<button class="btn btn-danger btn-block" style="width: 170px; margin: auto;" (click)="downloadPdf()"><i class="fa fa-download" aria-hidden="true"></i>{{'Download as PDF' | translate}}</button>