<br><br>
<div class="container" id="content-to-download">
    <img src="assets/images/test3.png" alt="" style="width: 95%; height: 350px; margin: auto;">
    <br><br>
    <h2 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; "> {{'Features' | translate}} </h2>

    <div class="container">
        <div class="row">
            <!-- Div 1 -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center  " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/surveill.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin: 0px; "> {{'24/7 Surveillance' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/sol.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin: 0px;">{{ 'Access Management' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/emergencyy.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;">{{'Emergency Notications' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/hands-free.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;">{{'Hands-Free Secure Access Control' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style="height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/motion.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin: 0px;">{{ 'Motion Sensing Alerts' | translate }}</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/face.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;"> {{'Face Recognition' | translate}}</h5>
                    </div>
                </div>
            </div>






        </div>


    </div>
</div>
<button class="btn btn-danger btn-block" style="width: 170px; margin: auto;" (click)="downloadPdf()"><i class="fa fa-download" aria-hidden="true"></i>{{'Download as PDF' | translate}}</button>