 <br>
 
 <div class="container mt-5">
    <h2 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; ">  {{'Smart Warehouse Division' | translate }}</h2>

    
    <div class="row">
     


      
      <div class="col-md-4 col-sm-6 col-12 mb-4" style="margin-top: 10px;">
        <div routerLink="/oursystem" class="box" style="background-color: #295179; height: 220px; width: 70%; margin: auto;border-radius: 20px;">
          <img src="assets/images/robot.png" alt="Image 1"  style="background-color: white;width: 50%;margin-top: 20px;border-radius: 50%;height: 95px;">
          <br><br>
          <h4 style="color: white; margin-top: 20px;">{{'Our Systems' | translate}}</h4>
        </div>
      </div>



      <div class="col-md-4 col-sm-6 col-12 mb-4">
        <div routerLink="/ourproduct" class="box" style="background-color: #295179; height: 220px; width: 70%; margin: auto;border-radius: 20px;">
          <img src="assets/images/our-product.png" alt="Image 1" class="rounded-circle" style="background-color: white;width: 50%;margin-top: 20px; height: 95px;">
          <br>
          <h4 style="margin-top: 48px;color:white">{{'Our Products' | translate}}</h4>
        </div>
      </div>

     

     

     
    </div>
  </div>
