<br><br>
<div class="container" id="content-to-download">
    <h2 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; "> {{'Temperature Mapping' | translate}}</h2>

    <div class="container">
        <div class="row">
            <!-- Div 1 -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center  " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/ware.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin: 0px; ">{{ 'Warehouses' | translate}} <h4>{{'&' | translate}} </h4>
                            {{ 'Storage Rooms' | translate}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/cold.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin: 0px;"> {{'Cold / Cool Room' | translate}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/refrig.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin-left: 0px;"> {{'Refrigerators' | translate}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/incubator.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin-left: 0px;"> {{'Incubators' | translate}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style="height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/sabiility.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin: 0px;"> {{ 'Sability Chamber' | translate}} <h4>{{'&' | translate}}</h4>
                            {{'Stability Rooms' | translate}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/passive.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin-left: 0px;"> {{'Passive Systems' | translate}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/truck.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin-left: 0px;"> {{'Refrigerated Road Trucks' |translate}}</h4>
                    </div>
                </div>
            </div>



            <h2 class="h2 hh2"> {{'Thermal' | translate}} <h2 class="h2">{{'Validation' | translate}}</h2>
            </h2>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 30px 0px 5px 0px;">
                    <img src="assets/images/Autoclaves.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin-left: 0px;"> {{'Autoclaves' | translate}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/ovens.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin-left: 0px;"> {{'Ovens' | translate}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/tunnels.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin-left: 0px;"> {{'Tunnels' | translate}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/tanks.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin-left: 0px;"> {{'Tanks' | translate}}</h4>
                    </div>
                </div>
            </div>



        </div>


    </div>
</div>
<button class="btn btn-danger btn-block" style="width: 170px; margin: auto;" (click)="downloadPdf()"><i class="fa fa-download" aria-hidden="true"></i>{{'Download as PDF' | translate}}</button>