// .align-items-center {
//     align-items: center !important;
//     justify-content: space-evenly;
// }

.cen {
    flex:1;
}
.h2{
    margin: auto;
    font-weight: bold;
    color: rgb(24, 24, 99);
}

.hh2{
    margin-top: 40px;
}