<br><br>

<img src="assets/images/sup_div.jpg" alt="" style="width: 95%; height: 330px; margin: auto;">
<br><br>


<h3 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; "> {{'Features' | translate}} </h3>


<ul style="width: 75%; margin: auto; text-align: left; list-style-type: disc;">
    <li>{{'Provides high-quality refrigeration, freezing, monitoring, and measurement equipment.'|translate}}</li>
    <li>{{'Includes pharmacy refrigerators, data loggers, temperature and humidity sensors, and environmental monitoring solutions.' | translate}}</li>
    <li>{{'Ensures reliable storage for various industries.' |translate }}</li>
    
</ul>


<!-- <div style="text-align: center; margin-top: 20px;">
    <a [href]="language=='ar'?  'assets/pdf/Skarpt Smart Warehouse Solutions_arabic.pdf' : 'assets/pdf/Skarpt Smart Warehouse Solutions .pdf'"
        [download]="language=='ar'?'سكاربت  قسم الحلول الذكية للمخازن.pdf':'Skarpt Smart Warehouse Solutions .pdf'" style="text-decoration: none;">
        
        <button class="btn btn-danger btn-block bt-dwon" style="width: 171px; margin: auto;"><i class="fa fa-download"
                aria-hidden="true" style="margin-right:5px"></i>{{'Download as PDF' | translate}}</button>

    </a>
</div> -->
<div style="height: 20px;"></div>
