<br><br>
<div class="container" id="content-to-download">
  <h3 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; "> Maintenance Services </h3>

  <div class="container mt-5">

    <div class="row  m-4">

      <!-- Product 1 -->
      <div class="col-md-4 col-sm-12">
        <h4 class="text-center" style="color: rgb(24, 24, 99);">Thermal
          Analysis</h4>
        <div class="card">
          <img src="assets/images/thermal-analysis.png" alt="Image 1" width="100%">
          <!-- <div class="card-body">
            <h5 class="card-title">Product 1</h5>
            <p class="card-text">Description for product 1.</p>
          </div> -->
        </div>
      </div>


      <div class="col-md-4 col-sm-12" style=" margin-top: 50px;">
        <h4 class="text-center" style="color: rgb(24, 24, 99);">Vibration
          Analysis</h4>
        <div class="card">
          <img src="assets/images/vibration-analysis.png" alt="Image 1" width="100%">
          <!-- <div class="card-body">
            <h5 class="card-title">Product 1</h5>
            <p class="card-text">Description for product 1.</p>
          </div> -->
        </div>
      </div>


      <div class="col-md-4 col-sm-12" style=" margin-top: 50px;">
        <h4 class="text-center" style="color: rgb(24, 24, 99);">System
          Upgrades</h4>
        <div class="card">
          <img src="assets/images/system-upgrades.png" alt="Image 1" width="100%">
          <!-- <div class="card-body">
            <h5 class="card-title">Product 1</h5>
            <p class="card-text">Description for product 1.</p>
          </div> -->
        </div>
      </div>




    </div>
  </div>
  <br>
</div>
<button class="btn btn-danger btn-block" style="width: 170px; margin: auto;" (click)="downloadPdf()"><i class="fa fa-download" aria-hidden="true"></i>{{'Download as PDF' | translate}}</button>