<br><br>
<div class="container" id="content-to-download">
    <img src="assets/images/test2.png" alt="" style="width: 95%; height: 350px; margin: auto;">
    <br><br>

    <h2 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; "> {{'Features' | translate}} </h2>

    <div class="container">
        <div class="row">
            <!-- Div 1 -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center  " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/hazard.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin: 0px; "> Hazard Detection</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/early warning.png" alt="Image 1" style="margin: 10px;"
                        class="rounded-circle" width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin: 0px;"> Early Warning Alerts</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/worker.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;"> Worker Safety</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/produc.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;"> Product Safety</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style="height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/real-t.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin: 0px;"> Real-Time Data </h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/automated-res.png" alt="Image 1" style="margin: 10px;"
                        class="rounded-circle" width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;"> Automated Response</h5>
                    </div>
                </div>
            </div>






        </div>


    </div>
</div>
<button class="btn btn-danger btn-block" style="width: 170px; margin: auto;" (click)="downloadPdf()"><i class="fa fa-download" aria-hidden="true"></i>{{'Download as PDF' | translate}}</button>
