<br><br>
<img src="assets/images/new_22.png" alt="" style="width: 95%; height: 330px; margin: auto;">
<br><br>


<h3 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; "> {{'Features' | translate}} </h3>


<ul style="width: 75%; margin: auto; text-align: left; list-style-type: disc;">
    <li>{{'Provides innovative and sustainable refrigeration and freezing solutions.'|translate}}</li>
    <li>{{'Implements smart monitoring systems for enhanced efficiency.'|translate}}</li>
    <li>{{'Ensures high-quality standards and long-term reliability.'|translate}}</li>
    <li>{{'Delivers customizable, energy-efficient services.'|translate}}</li>
    
</ul>


<div style="text-align: center; margin-top: 20px;">
    <a [href]="language=='ar'?  'assets/pdf/Skarpt Ref&Freezing_arabic.pdf' : 'assets/pdf/Skarpt Ref&Freezing .pdf'"
        [download]="language=='ar'?'سكاربت للتبريد والتجميد.pdf':'Skarpt Ref&Freezing .pdf'" style="text-decoration: none;">
        <!-- <button>Download PDF</button> -->
        <button class="btn btn-danger btn-block bt-dwon" style="width: 171px; margin: auto;"><i class="fa fa-download"
                aria-hidden="true" style="margin-right:5px"></i>{{'Download as PDF' | translate}}</button>

    </a>
</div>
<div style="height: 20px;"></div>
