<br><br>
<img src="assets/images/new_4.jfif" alt="" style="width: 95%; height: 350px; margin: auto;">
<br><br>



 
<h3 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; "> {{'Features' | translate}} </h3>

<ul style="width: 75%; margin: auto; text-align: left; list-style-type: disc;">
    <li>{{'Ensures compliance with WHO, ISPE, and SFDA regulations.'|translate}}</li>
    <li>{{'Provides precise temperature mapping and ISO/IEC 17025-accredited calibrations.'|translate}}</li>
    <li>{{'Covers a wide range of parameters and equipment, including autoclaves, ovens, tunnels, and water baths.'| translate}}</li>
    <li>{{'Specializes in sterility assurance and steam quality verification.'|translate}}</li>
    
</ul>

<div style="text-align: center; margin-top: 20px;">
    <a [href]="language=='ar'?  'assets/pdf/Skarpt_C_and_Q_arabic.pdf' : 'assets/pdf/Skarpt C and Q.pdf'"
        [download]="language=='ar'?'سكاربت قسم المعايير والقياسات.pdf':'Skarpt Calibration & Qualification.pdf'" style="text-decoration: none;">
        <!-- <button>Download PDF</button> -->
        <button class="btn btn-danger btn-block bt-dwon" style="width: 171px; margin: auto;"><i class="fa fa-download"
                aria-hidden="true"style="margin-right:5px"></i>{{'Download as PDF' | translate}}</button>

    </a>
</div>
<div style="height: 20px;"></div>
