<br><br>
<div class="container" id="content-to-download">
    <h2 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; "> {{'Calibration Services' | translate}} </h2>
    <div class="container">
        <div class="row">
            <!-- Div 1 -->
            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/differe.png" alt="Image 2"
                        style="width: 70%; height: 80px; margin-top: 5px; " class="rounded-circle">

                    <h5 style="margin-top: 10px;">{{ 'Differential Pressure' | translate }}</h5>
                </div>
            </div>
            <!-- Div 2 -->
            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/balance.png" alt="Image 2"
                        style="width: 70%; height: 80px; margin-top: 5px; " class="rounded-circle">

                    <h5 style="margin-top: 10px;">{{ 'Balance 300Kg' | translate}}</h5>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/t.png" alt="Image 2" style="width: 70%; height: 80px; margin-top: 5px; "
                        class="rounded-circle">

                    <h5 style="margin-top: 10px;">{{'Temperature Sensor' | translate}}</h5>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/ph.png" alt="Image 2" style="width: 70%; height: 80px; margin-top: 5px; "
                        class="rounded-circle">

                    <h5 style="margin-top: 10px;">{{ 'PH Meter' | translate}}</h5>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/conductivity.png" alt="Image 2"
                        style="width: 70%; height: 80px; margin-top: 5px; " class="rounded-circle">

                    <h5 style="margin-top: 10px;">{{ 'Conductivity Meter' | translate}}</h5>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/standard.png" alt="Image 2"
                        style="width: 70%; height: 80px; margin-top: 5px; " class="rounded-circle">

                    <h5 style="margin-top: 10px;">{{ 'Standard Weight' | translate}}</h5>
                </div>
            </div>



            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/pressure.png" alt="Image 2"
                        style="width: 70%; height: 80px; margin-top: 5px; " class="rounded-circle">

                    <h5 style="margin-top: 10px;">{{ 'Pressure Gauge' | translate}}</h5>
                </div>
            </div>


            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/vacuum.png" alt="Image 2"
                        style="width: 70%; height: 80px; margin-top: 5px; " class="rounded-circle">

                    <h5 style="margin-top: 7px;">{{ 'Vacuum Pressure Gauge' | translate}}</h5>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/stopwatches.png" alt="Image 2"
                        style="width: 70%; height: 80px; margin-top: 5px; " class="rounded-circle">

                    <h5 style="margin-top: 10px;"> {{'Stopwatches
                        & Timers' | translate}}</h5>
                </div>
            </div>


            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/logger.png" alt="Image 2"
                        style="width: 70%; height: 80px; margin-top: 5px; " class="rounded-circle">

                    <h5 style="margin-top: 10px;">{{ 'Data Logger' | translate}}</h5>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/bala.png" alt="Image 2" style="width: 70%; height: 80px; margin-top: 5px; "
                        class="rounded-circle">

                    <h5 style="margin-top: 10px;">{{ 'Balance 300 g' | translate}}</h5>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/con_w_resis.png" alt="Image 2"
                        style="width: 70%; height: 80px; margin-top: 5px; " class="rounded-circle">

                    <h5 style="margin-top: 4px;">{{ 'Conductivity with Resistance' | translate}}</h5>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/rpm.png" alt="Image 2" style="width: 70%; height: 80px; margin-top: 5px; "
                        class="rounded-circle">

                    <h5 style="margin-top: 10px;">{{ 'RPM' | translate}}</h5>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/volumetric.png" alt="Image 2"
                        style="width: 70%; height: 80px; margin-top: 5px; " class="rounded-circle">

                    <h5 style="margin-top: 10px;">{{ 'Volumetric' | translate}}</h5>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/flow.png" alt="Image 2" style="width: 70%; height: 80px; margin-top: 5px; "
                        class="rounded-circle">

                    <h5 style="margin-top: 10px;">{{ 'Flow Meter' | translate}}</h5>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;">
                    <img src="assets/images/air.png" alt="Image 2" style="width: 70%; height: 80px; margin-top: 5px; "
                        class="rounded-circle">

                    <h5 style="margin-top: 10px;">{{ 'Air Velocity, Air Flow' | translate}}</h5>
                </div>
            </div>

            <div class="col-12">
                <div class="box" style="height: 160px;margin: 5px 0px 5px 0px;margin: auto;">
                    <img src="assets/images/rh.png" alt="Image 2" style="width: 32%; height: 80px; margin-top: 5px; "
                        class="rounded-circle">

                    <h5 style="margin-top: 10px;">{{ 'T/RH%' | translate}}</h5>
                </div>
            </div>





        </div>
    </div>
</div>
<button class="btn btn-danger btn-block" style="width: 170px; margin: auto;" (click)="downloadPdf()"><i class="fa fa-download" aria-hidden="true"></i>{{'Download as PDF' | translate}}</button>