<br><br>
<div class="container mt-5">
    <h2 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; ">  Our Systems </h2>

    
    <div class="row">
     


      
      <div class="col-md-4 col-sm-6 col-12 mb-4" style="margin-top: 10px;">
        <div routerLink="/temperature" class="box" style="background-color: #295179; height: 265px; width:93%; margin: auto;border-radius: 20px;padding: 5px;">
          <img src="assets/images/temp-hum.png" alt="Image 1"  style="background-color: white;width: 48%;margin-top: 20px;border-radius: 50%;height: 90px;">
          <br><br>
          <h4 style="color: white; margin-top: 0px;">{{'Temperature' | translate}} <h4 style="margin: 0px;">{{'&' | translate}}</h4> {{'Humidity Monitoring System' | translate}}</h4>
        </div>
      </div>



      <div class="col-md-4 col-sm-6 col-12 mb-4">
        <div routerLink="/environmental" class="box" style="background-color: #295179; height: 265px; width: 93%; margin: auto;border-radius: 20px;padding: 5px;">
          <img src="assets/images/enviro-system.png" alt="Image 1" class="rounded-circle" style="background-color: white;width: 48%;margin-top: 20px; height: 90px;">
          <br>
          <h4 style="margin-top: 40px;color:white">{{'Environmental Risk Monitoring & Control System' | translate}}</h4>
        </div>
      </div>



      <div class="col-md-4 col-sm-6 col-12 mb-4">
        <div routerLink="/security" class="box" style="background-color: #295179; height: 265px; width: 93%; margin: auto;border-radius: 20px;">
          <img src="assets/images/sec-system.png" alt="Image 1" class="rounded-circle" style="background-color: white;width: 48%;margin-top: 20px; height: 90px;">
          <br>
          <h4 style="margin-top: 40px;color:white">{{'Security & Anti-theft Monitoring & Control System' | translate}}</h4>
        </div>
      </div>

     

     
    </div>
  </div>
