<br><br>
<div class="container" id="content-to-download">
    <h2 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; "> {{'Qualification Services' | translate }}</h2>
    <div class="container">
        <div class="row">
            <!-- Div 1 -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center  " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/equipment.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin: 0px; ">{{'Equipment Design' | translate}}</h4>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center  " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/installation.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin: 0px; ">{{'Equipment Installation' | translate}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center  " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/operation.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin: 0px; ">{{ 'Equipment Operation' | translate}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center  " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/performance.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin: 0px; ">{{'Equipment Performance' | translate}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center  " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/building.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h4 style="margin: 0px; ">{{'Building Management Systems' | translate}}</h4>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>
<button class="btn btn-danger btn-block" style="width: 170px; margin: auto;" (click)="downloadPdf()"><i
        class="fa fa-download" aria-hidden="true"></i>{{'Download as PDF' | translate}}</button>