<br><br>
<div class="container" id="content-to-download">
    <h4 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; "> {{'ESCAPE THE LIMITATIONS & ENHANCE YOUR
        CONTROL' | translate}}
    </h4>

    <div class="container mt-5">

        <div class="row">
            <div class="col-3">
                <div style="display: flex;    align-items: center;">

                    <img src="assets/images/skarpt111.png" width="100%">
                    &nbsp;
                    <i class="fa fa-plus" style="color: gray;"></i>

                    <!-- <div style="flex: 1;">+</div> -->
                </div>
            </div>
            <div class="col-3">
                <div style="display: flex;    align-items: center;">

                    <img src="assets/images/skman22.png" width="100%">
                    &nbsp;
                    <i class="fa fa-plus" style="color: gray;"></i>

                    <!-- <div style="flex: 1;">+</div> -->
                </div>
            </div>
            <div class="col-3">
                <div style="display: flex;    align-items: center;">

                    <img src="assets/images/skman3.png" width="100%" style="border-radius: 10px;" height="60px">
                    &nbsp;
                    <i class="fa fa-equals" style="color: gray;"></i>
                    <!-- <div style="flex: 1;">+</div> -->
                </div>
            </div>
            <div class="col-3">
                <img src="assets/images/skman4.png" width="100%">
            </div>
        </div>



        <!-- List Section -->
        <div class="col-12 mt-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <h4 style="display: inline-block;">{{'RPA:' | translate}}</h4> {{'Robotic Process Automation
                    software to manage and deploy robots.' | translate}}
                </li>
                <li class="list-group-item">
                    <h4 style="display: inline-block;">{{'OCR:' | translate}}</h4> {{'Optical Character Recognition to
                    interpret visual data.' | translate}}
                </li>
                <li class="list-group-item">
                    <h4 style="display: inline-block;">{{'Server:' | translate}}</h4> {{'Mini PC or server sends data to
                    the platform.' | translate}}
                </li>
                <li class="list-group-item">
                    <h4 style="display: inline-block;">SKMAN:</h4> {{'The final system for integration and control.' |
                    translate}}
                </li>
            </ul>
        </div>



    </div>
</div>
<button class="btn btn-danger btn-block" style="width: 170px; margin: auto;" (click)="downloadPdf()"><i class="fa fa-download" aria-hidden="true"></i>{{'Download as PDF' | translate}}</button>
