<br><br>
<div class="container" id="content-to-download">
    <h4 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; "> {{'How Skärpt' | translate}} <h4
            style="display: inline-block;font-weight: bold;color: #44cb01;">{{'W' | translate}}</h4> {{'Platform Works?'
        | translate}} </h4>
    <div class="container">
        <div class="row">
            <!-- Div 1 -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center  " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/sensors.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin: 0px; "> {{'Sensors Send measures to the gateway' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center " style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/connectivity.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin: 0px;"> {{'Connectivity Gateway Collects, saves data
                            & sends it to the Skärpt Platform' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/processing.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;"> {{'Data Processing Making data useful' | translate}}
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/user-interface.png" alt="Image 1" style="margin: 10px;"
                        class="rounded-circle" width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;"> {{ 'User Interface Access from anywhere via any device' |
                            translate}}</h5>
                    </div>
                </div>
            </div>

            <br><br><br><br><br>

            <!-- <h4 style="color: rgb(24, 24, 99); margin: 20px;font-weight: bold; "> Features </h4> -->
            <h2 style="color: rgb(24, 24, 99); margin: auto;font-weight: bold; "> {{'Features' | translate}} </h2>




            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 60px 0px 5px 0px;">
                    <img src="assets/images/email-smss.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;"> {{'Notification alerts Email - SMS - Push' | translate}}</h5>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/facilityy.png" alt="Image 1" style="margin: 10px;" class="rounded-circle"
                        width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;"> {{'Facility layout /Map' | translate}}</h5>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/warehouse-con.png" alt="Image 1" style="margin: 10px;"
                        class="rounded-circle" width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;"> {{'Warehouse Control' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/automatic-reports.png" alt="Image 1" style="margin: 10px;"
                        class="rounded-circle" width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;"> {{'Automatic Reports' | translate}}</h5>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="box  d-flex align-items-center" style=" height: 110px; margin: 5px 0px 5px 0px;">
                    <img src="assets/images/charts-diagrams.png" alt="Image 1" style="margin: 10px;"
                        class="rounded-circle" width="80px" height="80px">
                    <div class="cen">
                        <h5 style="margin-left: 0px;"> {{'Charts & Diagrams' | translate}}</h5>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>
<button class="btn btn-danger btn-block" style="width: 170px; margin: auto;" (click)="downloadPdf()"><i class="fa fa-download" aria-hidden="true"></i>{{'Download as PDF' | translate}}</button>
